@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');

body {
  font-family: 'Red Rose', cursive;
  font-size: 20px;
}

.serch {
  width: 300px;
  font-size: 14px;
}

.country__item {
  list-style: none;
  font-size: 20px;

  color: teal;
}

.country {
  position: relative;
  list-style: none;
  width: 40vw;
}

.country__name {
  margin-left: 150px;
  font-size: 38px;
}

.country__languages {
  list-style: none;
}

.title {
  font-weight: 600;
}
.country__img {
  position: absolute;
  top: 30%;
  right: 20%;
}
